$white: #FFFFFF;
$black: #000000;
$black-light: #1A1A1A;
$gray: #525252;
$gray-bold: #222222;
$orange: #E87D0E;
$orange-header: linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
$orange-buttons: linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);